*~
*.dylib
*.lo
*.lo?
*.la
*.o
*.so
*.dll
.DS_Store
.deps
.libs
.dirstamp
*.moc.cpp

# Auto*
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
m4/
test-driver

# Ignore build dirs
build*

libcloudstorage*
.clang_complete
.vscode
.vs
*.pro.user
contrib/tarballs*
contrib/win32
contrib/winrt
contrib/*.7z
CMakeSettings.json
